{% extends 'base.html' %}
{% block title %}Рассылка{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ mail.name }}</h1>
</div>

<div class="container overflow-hidden text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="img-fluid">
                {% else %}
                <img src="https://i.ibb.co/7x5DJnsJ/cato.png" class="img-fluid">
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <h1 class="text-center">{{ mail.name }}</h1>
                <h2 class="text-center">{{ mail.messages }}</h2>
                <h2 class="text-center">{{ mail.receivers }}</h2>
            </div>
            <div class="d-grid gap-0 row-gap-3">
                <a class="p-2 btn btn-lg btn-outline-primary" href="/mail/edit/{{ mail.id }}">Редактировать</a>
                <a class="p-2 btn btn-lg btn-outline-danger" href="/mail/delete/{{ mail.id }}">Удалить</a>
                <a class="p-2 btn btn-lg btn-outline-secondary" href="/mail/mails/">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}