{% extends 'base.html' %}
{% load user_tags %}
{% block title %}Рассылка{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ mail.name }}</h1>
</div>

<div class="container overflow-hidden text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h2 class="text-center">{{ mail.message.subject }}</h2>
                <h4 class="text-center">{{ mail.message.content }}</h4>
                <h5 class="text-center">Статус: {{ mail.status }}</h5>
            </div>
            <div class="d-grid gap-0 row-gap-3">
                <a class="p-2 btn btn-lg btn-outline-primary" href="/mail/edit/{{ mail.id }}">Редактировать</a>
                <a class="p-2 btn btn-lg btn-outline-danger" href="/mail/delete/{{ mail.id }}">Удалить</a>
                {% if perms.mail.can_disable_mail %}
                <a class="p-2 btn btn-lg btn-outline-danger" href="/mail/stop/{{ mail.id }}">Завершить рассылку</a>
                {% endif %}
                <a class="p-2 btn btn-lg btn-outline-secondary" href="/mail/mails/">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}