{% extends 'base.html' %}
{% block title %}Получатели{% endblock %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Получатели</h1>
</div>

<div class="container text-center" style="max-width: 1100px;">
    <div class="row justify-content-start row-cols-4">
        <div class="col-3 mt-3">
            <a class="btn btn-light pt-0"
               style="--bs-btn-padding-y: 2.6rem; --bs-btn-padding-x: 4.569rem; --bs-btn-font-size: 10.00rem;"
               href="{% url 'mail:receiver_create' %}">+</a>
        </div>
        {% for receiver in receivers %}
        <div class="col-3 mt-3">
            <div class="card mb-4 box-shadow h-100">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ receiver.full_name }}</h4>
                </div>
                <div class="card-body text-center">
                    <h5>{{ message.comment|truncatechars:100 }}</h5>
                    <a class="p-2 btn btn-primary" href="{% url 'mail:receiver_detail' receiver.id %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}