{% extends 'base.html' %}
{% block title %}Получатель{% endblock %}
{% block content %}


<div class="container">
    <div class="row text-start">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                {% if object %}
                <h4 class="my-0 font-weight-normal">Редактировать</h4>
                {% else %}
                <h4 class="my-0 font-weight-normal">Добавьте нового получателя</h4>
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if object %}
                    <button type="submit" class="btn mt-3 btn-lg btn-block btn-outline-primary">Сохранить</button>
                    {% else %}
                    <button type="submit" class="btn mt-3 btn-lg btn-block btn-outline-primary">Добавить</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}