{% extends 'base.html' %}
{% block title %}Ваш профиль{% endblock %}
{% block content %}
<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h1 class="">{{ user_to_view.first_name }} {{ user_to_view.last_name }}</h1>
                <div class="fs-5 mt-3">
                    <p>Электронная почта: {{ user_to_view.email }}</p>
                    <p>Номер телефона: {{ user_to_view.phone_number }}</p>
                    <p>Страна проживания: {{ user_to_view.country }}</p>
                    <p>Всего отправлено сообщений: {{ total_bulk_mails }}</p>
                    <p>Успешных попыток рассылки: {{ attempts_success }}</p>
                    <p>Неудачных попыток рассылки: {{ attempts_fail }}</p>
                </div>
            </div>
            <div class="d-grid gap-0 row-gap-3">
                {% if user == user_to_view %}
                <a class="p-2 btn btn-lg btn-outline-primary" href="{% url 'users:profile_edit' user.id %}">Редактировать</a>
                <a class="p-2 btn btn-lg btn-outline-primary" href="{% url 'users:password_change' %}">Смена
                    пароля</a>
                <a class="p-2 btn btn-lg btn-outline-danger" href="{% url 'users:profile_delete' user.id %}">Удалить
                    профиль</a>
                {% endif %}
                {% if perms.users.can_block_users and not user_to_view.is_staff and user_to_view != user %}
                <form action="{% url 'users:user_block' user.id %}" method="post" class="d-grid gap-0"
                      style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit" class="p-2 btn btn-lg btn-outline-danger">Заблокировать</button>
                </form>
                {% endif %}
                <a class="p-2 btn btn-lg btn-outline-secondary" href="{% url 'mail:home' %}">Назад</a>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-fluid img-thumbnail">
                {% else %}
                <img src="https://i.ibb.co/7x5DJnsJ/cato.png" class="img-thumbnail">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}