{% extends 'base.html' %}
{% block title %}Ваш профиль{% endblock %}
{% block content %}
<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h1 class="">{{ user.first_name }} {{ user.last_name }}</h1>
                <div class="fs-5 mt-3">
                    <p>Электронная почта: {{ user.email }}</p>
                    <p>Номер телефона: {{ user.phone_number }}</p>
                    <p>Страна проживания: {{ user.country }}</p>
                    <p>Всего отправлено сообщений: {{ total_bulk_mails }}</p>
                    <p>Успешных попыток рассылки: {{ attempts_success }}</p>
                    <p>Неудачных попыток рассылки: {{ attempts_fail }}</p>
                </div>
            </div>
            <div class="d-grid gap-0 row-gap-3">
                <a class="p-2 btn btn-lg btn-outline-primary" href="/profile/edit/{{ user.id }}">Редактировать</a>
                <a class="p-2 btn btn-lg btn-outline-primary" href="/password_change/">Смена пароля</a>
                <a class="p-2 btn btn-lg btn-outline-danger" href="/profile/delete/{{ user.id }}">Удалить профиль</a>
                {% if perms.users.can_block_users %}
                <a class="p-2 btn btn-lg btn-outline-primary" href="/blogs/post/edit/{{ post.id }}">Заблокировать</a>
                {% endif %}
                <a class="p-2 btn btn-lg btn-outline-secondary" href="/">Назад</a>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="img-fluid img-thumbnail">
                {% else %}
                <img src="https://i.ibb.co/7x5DJnsJ/cato.png" class="img-thumbnail">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}